@import "vendor/normalize/_normalize.scss";
@import "vendor/bootstrap/stylesheets/_bootstrap.scss";
@import "vendor/font-awesome/scss/font-awesome.scss";
@include normalize();
@import "_theme";

html, body {
  width: 100%;
  height: 100%;
}

.page-content {
  display: none;
}
